
@{
	<head>
        <style>
            body {
                font-family: Arial, sans-serif;
                margin: 20px;
                background-color: #f9f9f9;
                text-align: center;
            }

            .error-message {
                color: #D8000C;
                background-color: #FFBABA;
                border: 1px solid #D8000C;
                padding: 10px;
                border-radius: 4px;
                display: inline-block;
                font-weight: bold;
                margin-top: 20px;
            }
        </style>
	</head>
	<p>Error!! Id Does Not Exist</p>
}
